<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="footer-brand">
        <h3 class="text-metal">Clintin dos Sites</h3>
        <p>
          Desenvolvimento de sites, landing pages, e-commerce, aplicativos e
          tráfego pago.
        </p>

        <span class="global-badge"> 🌎 Atendemos Brasil e Estados Unidos </span>
      </div>

      <div class="footer-links">
        <h4>Contato</h4>
        <a href="/#servicos"></a>
        <a href="/#portfolio">Portfólio</a>
        <a href="/pages/trafego-pago/index.html">Tráfego Pago</a>
        <a href="https://clintindossites.com.br/#avaliacoes">Avaliações</a>
        <a href="/#contato">Orçamento</a>
      </div>

      <div class="footer-social">
        <h4>Redes sociais</h4>

        <div class="social-icons">
          <!--
              <a href="https://instagram.com/clintin_dos_sites" target="_blank">
                <span class="icon icon-whatsapp"></span>
              </a>
              -->
          <a href="https://github.com/Domclinton1" target="_blank">
            <span class="icon icon-github"></span>
          </a>
          <a
            href="https://www.facebook.com/profile.php?id=61576133499522"
            target="_blank"
          >
            <span class="icon icon-facebook"></span>
          </a>

          <a
            href="https://www.linkedin.com/in/clintin-dos-sites/"
            target="_blank"
          >
            <span class="icon icon-linkedin"></span>
          </a>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <p>© 2026 Clintin dos Sites. Todos os direitos reservados.</p>
    </div>
  </div>
</footer>
